* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#outer {
    border: 2px solid;
    width: 1000px;
    height: 300px;
    position: relative;
    margin: auto;
    background-color: antiquewhite;
}

#inner {
    border: 2px solid;
    width: 80%;
    height: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: aqua;
    /* display: flex; */
}
#inner div{
border: 1px solid;
width: 10%;
padding: 20px;
/* height: 20%; */
margin: auto;
text-align: center;
}